.progress-bar-base {
  background-color: #eee;

  .progress-bar {
    height: 15px;
    width: 0px;

    &.red {
      background-color: crimson;
    }

    &.yellow {
      background-color: darkgoldenrod;
    }

    &.green {
      background-color: seagreen;
    }
  }
}
