<div class="card">
  <div class="card-header">{{ title }}</div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Designation Filter:</div>
      <div class="col-md-4">
        <input type="text" name="designation" [(ngModel)]="designationFilter" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h6>Filtered By : {{designationFilter}}</h6>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table" *ngIf="employees.length">
        <thead>
          <th>
            <button class="btn btn-link" (click)="toggleIcon()">
              {{ showIcon ? "Hide" : "Show" }} Avatar
            </button>
          </th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Designation</th>
          <th>Insurance Balance</th>
          <th>RBT Progress</th>
        </thead>

        <tbody>
          <tr *ngFor="let employee of filteredEmployees">
            <td>
              <img
                [src]="employee.icon"
                alt="employee image"
                *ngIf="showIcon"
              />
            </td>
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.designation }}</td>
            <td>{{ employee.insuranceBalance | currency: "Rs " }}</td>
            <td>{{ employee.rbtProgress }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
